@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-background text-primary font-mono;
    /* Force square corners on the entire document */
    border-radius: 0px !important;
  }

  * {
    font-family: theme('fontFamily.mono');
    border-radius: 0px !important;
  }
}

.scanline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2)
  );
  background-size: 100% 4px;
  pointer-events: none;
  z-index: 50;
  opacity: 0.15;
}